In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df

,PID,Text_data,Label
0,train_pid_1,Waiting for my mind to have a breakdown once t...,moderate
1,train_pid_2,My new years resolution : I'm gonna get my ass...,moderate
2,train_pid_3,New year : Somone else Feeling like 2020 will ...,moderate
3,train_pid_4,"My story I guess : Hi, Im from Germany and my ...",moderate
4,train_pid_5,Sat in the dark and cried myself going into th...,moderate
...,...,...,...
8886,train_pid_8887,Ways to reverse memory loss from depression? :...,severe
8887,train_pid_8888,A Comprehensive Guide To Slowly Getting Better...,severe
8888,train_pid_8889,I don’t think college is right for me : TW: su...,severe
8889,train_pid_8890,Please help: Severe insomnia affecting me in m...,severe
8890,train_pid_8891,With each passing day my depression is getting...,severe

In [4]:
df['Label'].value_counts()

Label
moderate          6019
not depression    1971
severe             901
Name: count, dtype: int64

In [5]:
df.drop(df.keys()[0],axis=1,inplace=True)

In [6]:
df.isnull().any()

Text_data    False
Label        False
dtype: bool

In [7]:
import re

In [8]:
df['Text_data']=df['Text_data'].apply(lambda x: re.sub(r"[^a-zA-Z\s]","",x))

In [9]:
df['Text_data']=df['Text_data'].apply(lambda x: re.sub(r'\b\w*(\w)\1{2,}\w*\b', '',x).lower())

In [10]:
df

                                              Text_data     Label
0     waiting for my mind to have a breakdown once t...  moderate
1     my new years resolution  im gonna get my ass i...  moderate
2     new year  somone else feeling like  will be th...  moderate
3     my story i guess  hi im from germany and my en...  moderate
4     sat in the dark and cried myself going into th...  moderate
...                                                 ...       ...
8886  ways to reverse memory loss from depression  i...    severe
8887  a comprehensive guide to slowly getting better...    severe
8888  i dont think college is right for me  tw suici...    severe
8889  please help severe insomnia affecting me in ma...    severe
8890  with each passing day my depression is getting...    severe

[8891 rows x 2 columns]

In [11]:
from nltk.tokenize import word_tokenize

In [12]:
df['Text_data']=df['Text_data'].apply(lambda x: word_tokenize(x))

In [13]:
df

                                              Text_data     Label
0     [waiting, for, my, mind, to, have, a, breakdow...  moderate
1     [my, new, years, resolution, im, gon, na, get,...  moderate
2     [new, year, somone, else, feeling, like, will,...  moderate
3     [my, story, i, guess, hi, im, from, germany, a...  moderate
4     [sat, in, the, dark, and, cried, myself, going...  moderate
...                                                 ...       ...
8886  [ways, to, reverse, memory, loss, from, depres...    severe
8887  [a, comprehensive, guide, to, slowly, getting,...    severe
8888  [i, dont, think, college, is, right, for, me, ...    severe
8889  [please, help, severe, insomnia, affecting, me...    severe
8890  [with, each, passing, day, my, depression, is,...    severe

[8891 rows x 2 columns]

In [14]:
import nltk

In [15]:
from nltk.corpus import stopwords

In [16]:
stop_words=set(stopwords.words("english"))

In [17]:
df['Text_data']=df['Text_data'].apply(lambda x:[w for w in x if w not in stop_words])

In [18]:
df

                                              Text_data     Label
0     [waiting, mind, breakdown, new, year, feeling,...  moderate
1     [new, years, resolution, im, gon, na, get, ass...  moderate
2     [new, year, somone, else, feeling, like, last,...  moderate
3     [story, guess, hi, im, germany, english, mostl...  moderate
4     [sat, dark, cried, going, new, year, great, st...  moderate
...                                                 ...       ...
8886  [ways, reverse, memory, loss, depression, ive,...    severe
8887  [comprehensive, guide, slowly, getting, better...    severe
8888  [dont, think, college, right, tw, suicide, men...    severe
8889  [please, help, severe, insomnia, affecting, ma...    severe
8890  [passing, day, depression, getting, worse, wor...    severe

[8891 rows x 2 columns]

In [19]:
from nltk.stem import WordNetLemmatizer

In [20]:
from nltk.corpus import wordnet

In [21]:
pos_map={
    'J':wordnet.ADJ,
    'N':wordnet.NOUN,
    'V': wordnet.VERB,
    'R':wordnet.ADV
}

In [22]:
lemmatizer=WordNetLemmatizer()

In [23]:
def lemmatize_tokens(tokens):
    pos_tags=nltk.pos_tag(tokens)
    return [lemmatizer.lemmatize(word,pos_map.get(tag[0],wordnet.NOUN)) for word,tag in pos_tags]

In [24]:
df['Text_data']=df['Text_data'].apply(lemmatize_tokens)

In [25]:
df

                                              Text_data     Label
0     [wait, mind, breakdown, new, year, feeling, is...  moderate
1     [new, year, resolution, im, gon, na, get, ass,...  moderate
2     [new, year, somone, else, feel, like, last, ye...  moderate
3     [story, guess, hi, im, germany, english, mostl...  moderate
4         [sat, dark, cry, go, new, year, great, start]  moderate
...                                                 ...       ...
8886  [way, reverse, memory, loss, depression, ive, ...    severe
8887  [comprehensive, guide, slowly, get, well, lose...    severe
8888  [dont, think, college, right, tw, suicide, men...    severe
8889  [please, help, severe, insomnia, affect, many,...    severe
8890  [pass, day, depression, get, bad, bad, dont, k...    severe

[8891 rows x 2 columns]

In [26]:
import preprocessing_pipeline_app

In [27]:
import pandas as pd

In [28]:
df=pd.read_csv('train.csv')

In [29]:
df

,PID,Text_data,Label
0,train_pid_1,Waiting for my mind to have a breakdown once t...,moderate
1,train_pid_2,My new years resolution : I'm gonna get my ass...,moderate
2,train_pid_3,New year : Somone else Feeling like 2020 will ...,moderate
3,train_pid_4,"My story I guess : Hi, Im from Germany and my ...",moderate
4,train_pid_5,Sat in the dark and cried myself going into th...,moderate
...,...,...,...
8886,train_pid_8887,Ways to reverse memory loss from depression? :...,severe
8887,train_pid_8888,A Comprehensive Guide To Slowly Getting Better...,severe
8888,train_pid_8889,I don’t think college is right for me : TW: su...,severe
8889,train_pid_8890,Please help: Severe insomnia affecting me in m...,severe
8890,train_pid_8891,With each passing day my depression is getting...,severe

In [30]:
preprocessor=preprocessing_pipeline_app.custom_preprocessing()

In [31]:
df['Encoded_Text']=df['Text_data'].apply(preprocessor.preprocess)

In [32]:
df

,PID,Text_data,Label,Encoded_Text
0,train_pid_1,Waiting for my mind to have a breakdown once t...,moderate,wait mind breakdown new year feeling isnt anym...
1,train_pid_2,My new years resolution : I'm gonna get my ass...,moderate,new year resolution im gon na get ass therapis...
2,train_pid_3,New year : Somone else Feeling like 2020 will ...,moderate,new year somone else feel like last year earth...
3,train_pid_4,"My story I guess : Hi, Im from Germany and my ...",moderate,story guess hi im germany english mostly self ...
4,train_pid_5,Sat in the dark and cried myself going into th...,moderate,sat dark cry go new year great start
...,...,...,...,...
8886,train_pid_8887,Ways to reverse memory loss from depression? :...,severe,way reverse memory loss depression ive suffer ...
8887,train_pid_8888,A Comprehensive Guide To Slowly Getting Better...,severe,comprehensive guide slowly get well lose hope ...
8888,train_pid_8889,I don’t think college is right for me : TW: su...,severe,dont think college right tw suicide mention f ...
8889,train_pid_8890,Please help: Severe insomnia affecting me in m...,severe,please help severe insomnia affect many way iv...
8890,train_pid_8891,With each passing day my depression is getting...,severe,pass day depression get bad bad dont know im g...

In [33]:
x=preprocessor.vectorize(df['Encoded_Text'])

In [34]:
pd.DataFrame(x.toarray(), columns=preprocessor.vectorizer.get_feature_names_out())

,aa,aback,abandon,abandonment,abbandoned,abdomen,abdominal,abide,abilify,ability,...,zmczony,zoloft,zoloftsertraline,zombie,zone,zoo,zoom,zski,zycezie,zyziez
0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.058996,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8886,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8887,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8888,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8889,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8890,0.0,0.0,0.10202,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0