In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("preprocessed_data.csv")

In [3]:
df

      Unnamed: 0                                          Text_data     Label
0              0  ['Waiting', 'mind', 'breakdown', 'New', 'Year'...  moderate
1              1  ['My', 'new', 'year', 'resolution', 'Im', 'gon...  moderate
2              2  ['New', 'year', 'Somone', 'else', 'Feeling', '...  moderate
3              3  ['My', 'story', 'I', 'guess', 'Hi', 'Im', 'Ger...  moderate
4              4  ['Sat', 'dark', 'cry', 'go', 'new', 'year', 'G...  moderate
...          ...                                                ...       ...
8886        8886  ['Ways', 'reverse', 'memory', 'loss', 'depress...    severe
8887        8887  ['A', 'Comprehensive', 'Guide', 'To', 'Slowly'...    severe
8888        8888  ['I', 'dont', 'think', 'college', 'right', 'TW...    severe
8889        8889  ['Please', 'help', 'Severe', 'insomnia', 'affe...    severe
8890        8890  ['With', 'passing', 'day', 'depression', 'get'...    severe

[8891 rows x 3 columns]

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
vectorizer=TfidfVectorizer()
x=vectorizer.fit_transform(df['Text_data'])

In [6]:
pd.DataFrame(x.toarray(), columns=vectorizer.get_feature_names_out())

,aa,aback,abandon,abandonment,abbandoned,abdomen,abdominal,abide,abilify,abilities,...,zmczony,zoloft,zoloftsertraline,zombie,zone,zoo,zoom,zski,zycezie,zyziez
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8886,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8887,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8888,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8889,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8890,0.0,0.0,0.098593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0